.header {
  background-color: #444444;
  padding: 10px;
  color: #d5d5d3;
  text-align: left;
}

.header-title {
  font-size: 2rem;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  color: #d5d5d3
}

.fa-flickr {
  color: #ffffff;
}
